@import '../app/styles/_variables.less';

:host {
    display: block;
    font-family: @font-body;
    background-color: @background;
    color: @text;
    overflow-x: hidden; // Absolute safety against mobile horizontal scroll
}